{% extends 'base.html' %}

{% block content %}

<canvas id="myChart"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script lang="js">
var json = {{ json | safe }};

var ctx = document.getElementById("myChart").getContext('2d');
var config = {
    type: 'line',
    data: {
        labels: json.dates,
        datasets: [{
            fill: false,
            label: '# of posts per day',
            data: json.posts,
            borderColor: 'rgba(0, 119, 204, 0.3)',
        },
        {
            label: '# of comments per day',
            fill: false,
            data: json.comments,
            borderColor: 'rgba(100, 0, 204, 0.3)'
        }]
    }
};

var myChart = new Chart(ctx, config);

</script>
{% endblock %}
